In [34]:
import pandas as pd
import numpy as np
import os

In [35]:
#Carga de archivo Json
steam = pd.read_json('../data/output_steam_games.json', lines= True)
steam.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
2,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
3,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
4,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None

In [36]:
#Cuantos registros hay en la base
steam.shape[0]

120445

In [37]:
#Cuantos nulos hay en cada columna
steam.isnull().sum()

publisher       96362
genres          91593
app_name        88312
title           90360
url             88310
release_date    90377
tags            88473
reviews_url     88312
specs           88980
price           89687
early_access    88310
id              88312
developer       91609
dtype: int64

In [18]:
#Eliminar columnas innecesarias
steam = steam.drop(['publisher','app_name','url','tags','reviews_url','early_access'], axis=1)
steam.head()

  genres title release_date specs price  id developer
0   None  None         None  None  None NaN      None
1   None  None         None  None  None NaN      None
2   None  None         None  None  None NaN      None
3   None  None         None  None  None NaN      None
4   None  None         None  None  None NaN      None

In [19]:
#Convertir la columna price a numerico y rellenar vacios con la media de los datos
steam['price'] = pd.to_numeric(steam['price'], errors='coerce')
steam['price'].fillna(steam['price'].mean(), inplace=True)

In [20]:
#Limpiar los registros que tengan nulos
steam_games_cleaned = steam.dropna()
steam_games_cleaned.head()

,genres,title,release_date,specs,price,id,developer
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,[Single-player],4.990000,761140.0,Kotoshiro
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,"[Single-player, Multi-player, Online Multi-Pla...",9.453921,643980.0,Secret Level SRL
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,"[Single-player, Multi-player, Online Multi-Pla...",9.453921,670290.0,Poolians.com
88313,"[Action, Adventure, Casual]",弹炸人2222,2017-12-07,[Single-player],0.990000,767400.0,彼岸领域
88315,"[Action, Adventure, Simulation]",Battle Royale Trainer,2018-01-04,"[Single-player, Steam Achievements]",3.990000,772540.0,Trickjump Games Ltd

In [21]:
#Cuantos datos quedaron despues del dropna
steam_games_cleaned.shape[0]

28377

In [38]:
# Convierte la columna 'id' a tipo de dato int
steam_games_cleaned['id'] = steam_games_cleaned['id'].astype(int)
# Renombra la columna 'id' como 'item_id'
steam_games_cleaned = steam_games_cleaned.rename(columns={'id': 'item_id'})

In [39]:
# Desanidar los elementos de la columna genres
steam_games_cleaned = steam_games_cleaned.explode('genres')

In [40]:
#Resetear el index
steam_games_cleaned = steam_games_cleaned.reset_index(drop=True)
steam_games_cleaned.head()

,genres,title,release_date,specs,price,item_id,developer
0,Action,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro
1,Casual,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro
2,Indie,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro
3,Simulation,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro
4,Strategy,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro

In [41]:
# Utiliza la funcion explode en la columna 'specs' para convertir los valores anidados en filas separadas
steam_games_cleaned = steam_games_cleaned.explode('specs')
# Restablecer el índice del DataFrame resultante y descartar el índice anterior
steam_games_cleaned = steam_games_cleaned.reset_index(drop=True)
steam_games_cleaned.head()

,genres,title,release_date,specs,price,item_id,developer
0,Action,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro
1,Casual,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro
2,Indie,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro
3,Simulation,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro
4,Strategy,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro

In [42]:
#Volver a revisar nulos
steam_games_cleaned.isnull().sum()

genres          0
title           0
release_date    0
specs           0
price           0
item_id         0
developer       0
dtype: int64

In [44]:
# Elimina valores nulos de la columna genres
steam_games_cleaned = steam_games_cleaned.dropna(subset=['genres'])
# Elimina valores nulos de la columna id
steam_games_cleaned = steam_games_cleaned.dropna(subset=['item_id'])
# Elimina valores nulos de la columna specs
steam_games_cleaned = steam_games_cleaned.dropna(subset=['specs'])

In [45]:
#Ponerle tipo string a los datos de la columna title
steam_games_cleaned['title'] = steam_games_cleaned['title'].astype(str)

In [46]:
steam_games_cleaned.head()

,genres,title,release_date,specs,price,item_id,developer
0,Action,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro
1,Casual,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro
2,Indie,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro
3,Simulation,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro
4,Strategy,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro

In [47]:
#Guardar en archivo cvs
steam_games_cleaned.to_csv(os.path.join('../data/', 'steam_games.csv'), index=False)

In [48]:
steam_games_cleaned.head()

,genres,title,release_date,specs,price,item_id,developer
0,Action,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro
1,Casual,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro
2,Indie,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro
3,Simulation,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro
4,Strategy,Lost Summoner Kitty,2018-01-04,Single-player,4.99,761140,Kotoshiro

In [49]:
steam_games_cleaned.columns

Index(['genres', 'title', 'release_date', 'specs', 'price', 'item_id',
       'developer'],
      dtype='object')