In [2]:
#Importar las librerias de siempre
import pandas as pd
import ast
import os

In [4]:
#Pip install para análisis de sentimiento
pip install vaderSentiment

SyntaxError: invalid syntax (3048090843.py, line 2)

In [6]:
#Se improta el Analyzer de sentimiento
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [7]:

# Lista vacia donde se van a guardar cada iteracion desanidad de reviews
des_reviews = []

# Abre el archivo 'australian_user_reviews.json' para lectura
with open('../data/australian_user_reviews.json', 'r', encoding='UTF-8') as reviews:
    # Itera a través de las líneas del archivo
    for line in reviews.readlines():
        try:
            # Evalúa cada línea como una expresión de Python y agrega el resultado a la lista des_reviews
            reviews_desanidados = ast.literal_eval(line)
            
            # Agrega el diccionario a la lista des_reviews        
            des_reviews.append(reviews_desanidados)
        except (SyntaxError, ValueError):
            # Captura excepciones en caso de que haya errores de sintaxis o valores no válidos
            print(f"Error en la línea: {line}")

# Crea un nuevo DataFrame a partir de la lista des_reviews
users_reviews = pd.DataFrame(des_reviews)
users_reviews.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [8]:
#vemos la cantidad de registros obtenidos
users_reviews.shape[0]

25799

In [9]:
# Lista vacía donde se van a guardar cada iteración desanidad de reviews
des_reviews = []

# Itera a través de cada fila de users_reviews
for index, row in users_reviews.iterrows():
    user_id = row['user_id']
    
    # Itera a través de la lista de ítems en la columna 'reviews'
    for review in row['reviews']:
        # Crea un diccionario con los valores desanidados
        review_dict = {
            'user_id': user_id,
            'funny': review.get('funny', ''),
            'posted': review.get('posted', ''),
            'last_edited': review.get('last_edited', ''),
            'item_id': review.get('item_id', ''),
            'helpful': review.get('helpful', ''),
            'recommend': review.get('recommend', bool),
            'review': review.get('review', '')
        }
        # Agrega el diccionario a la lista des_reviews        
        des_reviews.append(review_dict)

# Crea un nuevo DataFrame a partir de la lista des_reviews
users_reviews = pd.DataFrame(des_reviews)

In [10]:
users_reviews.head()

,user_id,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...

In [11]:
users_reviews['last_edited'].value_counts()

last_edited
                                  53165
Last edited November 25, 2013.       99
Last edited October 17, 2015.        19
Last edited June 6, 2015.            18
Last edited January 3.               17
                                  ...
Last edited May 30, 2015.             1
Last edited May 21, 2015.             1
Last edited February 11, 2014.        1
Last edited May 8, 2014.              1
Last edited August 15, 2014.          1
Name: count, Length: 1015, dtype: int64

In [12]:
users_reviews['funny'].value_counts()

funny
                                        51154
1 person found this review funny         5180
2 people found this review funny         1232
3 people found this review funny          491
4 people found this review funny          267
                                        ...
58 people found this review funny           1
405 people found this review funny          1
105 people found this review funny          1
1,130 people found this review funny        1
825 people found this review funny          1
Name: count, Length: 186, dtype: int64

In [13]:
users_reviews['helpful'].value_counts()

helpful
No ratings yet                                     30168
1 of 1 people (100%) found this review helpful      6730
0 of 1 people (0%) found this review helpful        4024
1 of 2 people (50%) found this review helpful       2493
2 of 2 people (100%) found this review helpful      1872
                                                   ...
73 of 96 people (76%) found this review helpful        1
12 of 31 people (39%) found this review helpful        1
12 of 53 people (23%) found this review helpful        1
17 of 37 people (46%) found this review helpful        1
24 of 34 people (71%) found this review helpful        1
Name: count, Length: 1344, dtype: int64

In [14]:
users_reviews = users_reviews.drop(columns=['funny','last_edited','helpful'])

In [15]:
users_reviews.head()

,user_id,posted,item_id,recommend,review
0,76561197970982479,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...
1,76561197970982479,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.
2,76561197970982479,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...
4,js41637,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...

In [16]:
users_reviews.shape[0]

59305

In [17]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [18]:
# Crea una instancia del analizador de sentimientos VADER
analisis_sent = SentimentIntensityAnalyzer()

# Define la función de puntaje de sentimiento
def puntaje_sentimiento(review):
    # Clasifica como neutral si no hay reseña o está vacía
    if pd.isnull(review) or not review:
        return 1

    # Calcula el puntaje de sentimiento de la revisión
    puntaje_sent = analisis_sent.polarity_scores(review)

    # Asigna el sentimiento basado en el puntaje compuesto
    if puntaje_sent['compound'] >= 0.05:
        return 2  # Positivo
    elif puntaje_sent['compound'] <= -0.05:
        return 0  # Malo
    else:
        return 1  # Neutral

# Aplica la función a la columna 'review' para crear la nueva columna 'sentiment_analysis'
users_reviews['sentiment_analysis'] = users_reviews['review'].apply(puntaje_sentimiento)

# Elimina la columna 'review'
users_reviews = users_reviews.drop(columns=['review'])

users_reviews.head()

,user_id,posted,item_id,recommend,sentiment_analysis
0,76561197970982479,"Posted November 5, 2011.",1250,True,2
1,76561197970982479,"Posted July 15, 2011.",22200,True,2
2,76561197970982479,"Posted April 21, 2011.",43110,True,2
3,js41637,"Posted June 24, 2014.",251610,True,2
4,js41637,"Posted September 8, 2013.",227300,True,2

In [19]:

# Asegúrate de que 'posted' sea reconocido como una cadena (str) para evitar errores de atributo
users_reviews['posted_year'] = users_reviews['posted'].astype(str).str.extract(r'(\d{4})', expand=False)

# Elimina la columna 'posted'
users_reviews.drop(columns=['posted'], inplace=True)

users_reviews.head()

             user_id item_id  recommend  sentiment_analysis posted_year
0  76561197970982479    1250       True                   2        2011
1  76561197970982479   22200       True                   2        2011
2  76561197970982479   43110       True                   2        2011
3            js41637  251610       True                   2        2014
4            js41637  227300       True                   2        2013

In [20]:
# Llena los valores nulos en "posted_year" con la moda
users_reviews['posted_year'].fillna(users_reviews['posted_year'].mode().iloc[0], inplace=True)

# Reconoce la columna como bool para evitar errores en el Análisis Exploratorio de Datos (EDA)
users_reviews['recommend'] = users_reviews['recommend'].astype(bool)

# Guarda el DataFrame users_reviews en un archivo CSV
users_reviews.to_csv(os.path.join('../data/', 'users_reviews.csv'), index=False)

In [22]:
users_reviews.columns

Index(['user_id', 'item_id', 'recommend', 'sentiment_analysis', 'posted_year'], dtype='object')